dist: trusty
sudo: required

language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3

env:
  matrix:
    - COMPOSER_FLAGS="--prefer-lowest"
    - COMPOSER_FLAGS=""

before_script:
  - travis_retry composer self-update
  - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction --prefer-source
  - sudo add-apt-repository -y ppa:danmbox/ppa
  - sudo apt-get update
  - sudo apt-get install jpegoptim
  - sudo apt-get install pngquant
  - sudo apt-get install gifsicle
  - sudo apt-get install optipng
  - sudo apt-get install libjpeg-progs
  - sudo apt-get install webp
  - npm install -g svgo

script:
  - vendor/bin/phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - php vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover
